<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",     root_path %></li>
        <li><%= link_to "Aide",     help_path %></li>
        <li><%= link_to "A propos", about_path %></li>
        <li><%= link_to "Se connecter",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
